
<header class="header">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo">
                    <a href="#"><img src="" alt="Indico"></a>
                </div>
                <div class="header-menu-wrap">
                    <ul class="dl-menu">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'about:about-us' %}">About</a></li>
                        <li><a href="{% url 'service:service' %}">Services</a></li>
                        <li><a href="{% url 'service:service' %}">Projects</a></li>
                        <li><a href="testimonial.html">Testimonial</a></li>
                        <li><a href="{% url 'service:service' %}">Blog</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <a class="menu-btn" href="#">Request a Quote</a>

                    <div class="mobile-menu-icon">
                        <div class="burger-menu">
                            <div class="line-menu line-half first-line"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu line-half last-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>